In [3]:
!pip install pandas sqlalchemy psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 15.2 MB/s eta 0:00:0000:0100:01
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.25-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 26.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: psycopg2 in /usr/lib/python3/dist-packages (2.9.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 KB 15.1 MB/s eta 0:00:00
Collecting numpy<2,>=1.22.4
  Downloading numpy-1.26.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 6.9 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ebraim/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.7
  Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 KB 15.4 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in /home/ebraim/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 KB 22.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, greenlet, sqlalchemy, pandas
Successfully installed greenlet-3.0.3 numpy-1.26.3 pandas-2.2.0 pytz-2023.3.post1 sqlalchemy-2.0.25 tzdata-2023.4

In [4]:
import pandas as pd

/tmp/ipykernel_4833/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
!ls

Dockerfile	data_ny_taxi	    green_data.ipynb		   pipeline.py
Untitled.ipynb	data_ny_taxi_green  green_tripdata_2019-09.csv.gz  readme.md

In [7]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=1000)

In [8]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [9]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine.connect()

In [13]:
ddl_taxi_data = print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [46]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000, engine='python')
# df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', low_memory=False)

In [47]:
from time import time

In [34]:
number_of_lines = !wc -l green_tripdata_2019-09.csv.gz
print(number_of_lines)

['29689 green_tripdata_2019-09.csv.gz']

In [35]:
number_lines = str(number_of_lines)

In [36]:
idx = number_lines.index(" ")
print(idx)

7

In [37]:
count_lines = number_lines[2:idx]
count_lines = int(count_lines)
print(count_lines)

29689

In [39]:
import math
n_iterations = math.ceil(count_lines/10000)
print(n_iterations)

3

In [48]:
while True:
    t_start = time()
    
    df = next(df_iter)
    # n_iterations = n_iterations - 1
    if not df.empty:
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()
        
        print('inserted another chunk, took %.3f second' % (t_end - t_start))
        print(f'Chunk has {df.shape[0]} rows')
    else:
        break

inserted another chunk, took 15.759 second
Chunk has 100000 rows
inserted another chunk, took 15.953 second
Chunk has 100000 rows
inserted another chunk, took 15.991 second
Chunk has 100000 rows
inserted another chunk, took 15.442 second
Chunk has 100000 rows
inserted another chunk, took 7.297 second
Chunk has 49063 rows

StopIteration: