In [3]:
print("teste")

teste

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=1000)

In [9]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [17]:
ddl_taxi_data = print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [34]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000, engine='python')

In [27]:
from time import time

In [58]:
number_of_lines = !wc -l yellow_tripdata_2021-01.csv
print(number_of_lines)

['1369766 yellow_tripdata_2021-01.csv']

In [76]:
number_lines = str(number_of_lines)

In [77]:
idx = number_lines.index(" ")
print(idx)

9

In [80]:
count_lines = number_lines[2:9]
count_lines = int(count_lines)
print(count_lines)

1369766

In [85]:
import math
n_iterations = math.ceil(count_lines/100000)

In [86]:
while n_iterations > 0:
    t_start = time()
    
    df = next(df_iter)
    n_iterations = n_iterations - 1
    if not df.empty:
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()
        
        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    else:
        break

inserted another chunk, took 9.456 second
inserted another chunk, took 9.167 second
inserted another chunk, took 9.778 second
inserted another chunk, took 9.065 second
inserted another chunk, took 9.510 second
inserted another chunk, took 9.229 second
inserted another chunk, took 10.276 second
inserted another chunk, took 8.912 second
inserted another chunk, took 9.305 second
inserted another chunk, took 9.299 second
inserted another chunk, took 9.189 second
inserted another chunk, took 9.370 second
inserted another chunk, took 8.887 second
inserted another chunk, took 5.954 second